# {{ project_name | capitalize }} - Lambda Java

## 🚀 Cómo ejecutar localmente

### 1. Instala las dependencias necesarias

- Java 11+
- Apache Maven
- Docker
- AWS SAM CLI

### 2. Autenticarse en CodeArtifact

Ejecuta el siguiente script en PowerShell para generar `settings-codeartifact.xml`:

```powershell
./setup-codeartifact.ps1
```
Esto autenticará Maven con CodeArtifact usando tu perfil de AWS.

### 3. Compilar el proyecto

```bash
mvn clean package --settings settings-codeartifact.xml
```

### 4. Ejecutar el proyecto localmente
```bash
sam build
``
### 5. Invocar la función Lambda localmente
sam local invoke {{ resource_name }} --event event.json
```
### 6. Iniciar el API localmente
```bash
sam local start-api --port 3000
```

### 7. Ejecutar pruebas unitarias

#### Con dependencias IRIS
```bash
mvn clean package --settings settings-codeartifact.xml
```
#### Sin dependencias IRIS
```bash
mvn clean package
```

### 8. Agregar bibliotecas internas de IRIS (opcional)

Si tu Lambda necesita consumir una librería interna del ecosistema IRIS publicada en CodeArtifact, agrégala manualmente al `pom.xml` dentro de la sección `<dependencies>`. Por ejemplo:

```xml
<dependency>
    <groupId>co.iris.utils</groupId>
    <artifactId>siif</artifactId>
    <version>1.0.4</version>
</dependency>
```