import { Company, ICompanyRepository } from "@domain/company.repository";
import { ILogger } from "@domain/logger.interface";

export class GetCompanyUseCase {
    constructor(private companyRepository: ICompanyRepository, private logger: ILogger) {}

    async execute(): Promise<Company> {
        this.logger.info("Executing GetCompanyUseCase");
        const company = await this.companyRepository.getCompany();
        this.logger.info("Company fetched", { companyName: company.name });
        return company;
    }
}