# Generic ignore files
.DS_Store
.env
.env.local
.vscode/

# Node.js
node_modules/
build/
dist/
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log

# Java / Maven / Quarkus
target/
.idea/
.project
.classpath
.settings/
*.iml
*.ipr
*.iws

# Logs
*.log

# IDEs and OS
.idea/
.vscode/
*.swp
*.swo

# AWS SAM
.aws-sam/
